<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>

  <script type="module">
    document.documentElement.classList.remove('no-js');
    document.documentElement.classList.add('js');
  </script>

  <meta name="description" content="">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
  <header>
    <h1>{{ title }}</h1>
  </header>
  <main>
    {{ content | safe }}
    <ul>
      {% for post in collections.book | reverse %}
      <li>{{ post.data.date }} <a href="{{ post.url}}">{{ post.data.title }}</a> {{ post.data.tags }}</li>
      {% endfor %}
    </ul>
  </main>
</body>
</html>